<!DOCTYPE html>
<html>
<head>
  <title>StudyHall</title>
  <link rel="icon" href="https://www.favicon.cc/logo3d/554683.png">
  
  <style>
  
  body {
	background-color: black;
  }
  
	#videos{
		height:75%;
		font-size: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}
  
	video {
		width : 50%;
		max-height : 50%;
	}
  </style>
  
</head>
<body>


	<div id="videos">
	</div>
	
  <script type="text/javascript">
    window.API_KEY = "<%= apiKey %>";
    window.call = <%- JSON.stringify(call, null, 2) %>;
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.17/peer.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>
